@{
    ViewBag.Title = "Home Page";
}
@model UplodFileInMVC.Models.Employee


<div class="row">
    
    
    <div class="col-md-10">
       
        @using (Html.BeginForm("Index","Home",FormMethod.Post,new { @enctype="multipart/form-data"}))
        { 
            @Html.EditorFor(x =>x.Name)<br />
                <input type="file" name="file" />
                <br />
                <input type="submit" value="save" />
            }
    </div>
</div>