@model tradirouting.Models.student

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>getstudent</title>
</head>
<body>
    <div>
        <h4>student</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.name)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.class1)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.class1)
            </dd>
    
        </dl>
    </div>
  
</body>
</html>
